* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.bg_light-grey {
    background-color: #e5e5e5;
}

.bg_light-blue {
    background-color: #1b72e8;
}

p {
    vertical-align: middle;
    margin: 0 !important; 
}

/* Top Navbar */
#main_top-navbar {
    height: 90px;
    width: 100vw;
}

.navbar_logo {
    width: 75px;
}

#top_search-bar {
    width: calc(100vw - 125px);
}

#bell-menu {
    width: 50px;
}

/* Left Navbar */
#main_left-navbar {
    height: calc(100vh - 90px);
    width: 75px;
    background-color: #051e34;
    align-self: flex-end;
    background-image: url(../img/sidebar-bg.png);
}

/* Main Central Section */

main {
    width: 100vw;
    height: 100vh;
}

/* Blue Headband */

#add-student-button {
    border: white solid 1px;
    background-color: transparent;
}

#app-button {
    border: none;
    background-color: transparent;
    color: white;
}

/* Upcoming Classes */

#main_central {
    width: calc(100vw - 75px);
    height: calc(100vh - 90px);
    overflow: auto;
}

/* .list-group-item p{
    font-size: .7rem;
} */

.class-avatar {
    width: 25px;
}


/* Media Query per schermi da 992 in sù */
@media screen and (min-width: 992px) {
    #main_left-navbar {
        width: 150px;
    }

    #main_central {
        width: calc(100vw - 150px);
    }

    .navbar_logo {
        width: 150px;
    }

    #top_search-bar {
        width: calc(100vw - 200px);
    }
}