    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body {
    height: 100vh;
}

.bg_light-grey {
    background-color: #e5e5e5;
}

p {
    vertical-align: middle;
}

/* Top Navbar */
#main_top-navbar {
    height: 90px;
    width: 100vw;
}

.navbar_logo {
    width: 75px;
}

#top_search-bar {
    width: calc(100vw - 125px);
}

#bell-menu {
    width: 50px;
}

/* Left Navbar */
#main_left-navbar {
    height: calc(100vh - 90px);
    width: 75px;
    background-color: #051e34;
    align-self: flex-end;
    background-image: url(../img/sidebar-bg.png);
}

/* Main Central Section */

main {
    width: 100vw;
    height: 100vh;
}

#main_central {
    width: calc(100vw - 75px);
}
